@model IEnumerable<BrazilBlend.Models.Category>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var category in Model) {
    @if (category.Products != null && category.Products.Any()) {
        <h2>@Html.DisplayFor(modelItem => category.Name)</h2>

        <div class="row">
            @foreach (var product in category.Products) {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <img src="@Url.Action("GetImage", new { id = product.Id })" alt="Product Image" class="img-fluid mb-3" style="max-height: 150px;"/>

                            <h4 class="card-title">@Html.DisplayFor(modelItem => product.Name)</h4>

                            <p class="card-text"><strong>$@product.Price</strong></p>

                            <div class="row justify-content-center">
                                <div class="col-md-6 mb-3">
                                    <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-secondary btn-block">More Details</a> 
                                </div>
                                
                                <div class="col-md-6">
                                    <button type="button" onclick="Add(@product.Id)" class="btn btn-primary btn-block">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}

@section Scripts {
    <script>
        async function Add(productId) {
            try {
                var response = await fetch(`/ShoppingCart/AddItem?productId=${productId}`);

                if (response.status == 200) {
                    alert("Product has been added to cart.")
                }
            } catch (error) {
                console.log(error);
            }
        }
    </script>
}